
.section {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-bottom: 0ch;
  
}
.jaza-form {
    padding-left: 10px; 
    padding-right: 30px; 
    border-radius: 8px;
    text-align: center;
    align-items: center;
    border-color: white;
    

}
.date1{
    height: 30px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}
.form1{
  height: 50px;
  width: 100px;
}
.form2{
    width: 100px;
    height: 110px;
    
}
.todo-app {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
  }
  .header {
    color: green;
    font-weight: bold;
  }
  .container {
     display: flex;
     flex-direction: row;
     margin-inline: auto;
     /* border-left: 3px solid green;
     border-right: 3px solid green; */
  
  }

.tasks1 {
   text-align: center; 
   display: flex;
   /* border-right: 2px solid green;
   border-left: 2px solid green; */
   width: 600px;
}
.task-list{
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    background-color: lightseagreen;
    color: black;
    margin: 5px;
    width: 400px;
    height: 250px;
    border-radius: 8px;
    list-style: none;
}
.completed{
    text-align: center;
    align-items: center;
    border-radius: 8px;
    width: 600px;
    background-color: gold;

}
.incompleted{
  text-align: center;
  align-items: center;
  border-radius: 8px;
  width: 600px;
  background-color: lightcoral;

}

.tasks-complete{
    margin-bottom: 2px;
}
#tasks2{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  width: 30vw;
}
.fill-btn {
  background-color: #d41818;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 3px;
  text-decoration: none;
}
.submit-btn{
  background-color: black;
  padding: 10px;
  border-radius: 0px;
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
}
.btn-delete{
  background-color: black;
  height: 60px;
  width: 50px;
  border-radius: 2px ;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);

}
.text-body1 {
  width: 400px;
  height: 500px;
  background-color: lightblue;
}
.title-text{
    font-size: 25px;
    font-weight: bolder;
    color: green;
  }
  tasks-title{
    color: green;
    font-size: 20px;
  }
  .fill-title{
    color: green;
    font-weight: bolder;
    font-size: 20px;

  }
.msg{
    color: pink; 
    font-size: 15px;
    font-weight: bold;
}
#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 10px;
  }
  .date-text{
    font-size: large;;
    margin-top: 20px;
  }
  .hr{
    color: green;
  }
.text-center .h2{
    color: red;

  }
  .btn-delete{
background-color: red;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 60px;
height: 30px;

  }
  .btn-done{
background-color: black ;
padding: 10px;
display: flex;
color: white;
justify-content: center;
align-items: center;
width: 200px;

  }
  .btn-update{
background-color: yellow;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
  }